# saved dependencies will be configured with an exact version
#       rather than using npm’s default semver range operator
save-exact=true

# https://github.com/nodejs/help/issues/1783#issuecomment-545884471
# node-options="--max-old-space-size=4096"

# https://pnpm.io/npmrc
prefer-workspace-packages=true

# https://github.com/pnpm/pnpm/issues/5068
node-linker=hoisted
