# saved dependencies will be configured with an exact version
#       rather than using npm’s default semver range operator
save-exact=true

# https://github.com/nodejs/help/issues/1783#issuecomment-545884471
# node-options="--max-old-space-size=4096"

# PNpm config
# https://pnpm.io/npmrc
save-prefix=""
save-workspace-protocol=rolling
prefer-workspace-packages=true
