# saved dependencies will be configured with an exact version
#       rather than using npm’s default semver range operator
save-exact=true

# disable package-lock.json
# uncomment this if you do not wanna lockfile
#       lockfile cannot resolve conflict with typescript dependencies like { "@types/package-name": "*" }
# package-lock=false
